In [1]:
import os
os.chdir("D:/Datasets/zs2")
os.listdir()

['sample_submission.csv', 'test.csv', 'train.csv']

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('train.csv')
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,name,retweet_count,text,tweet_created,tweet_location,user_timezone
0,Tr_tweet_1,neutral,1.0000,NaN,NaN,Virgin America,cairdin,0.0,@VirginAmerica What @dhepburn said.,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,Tr_tweet_2,positive,0.3486,NaN,0.0000,Virgin America,jnardino,0.0,@VirginAmerica plus you've added commercials t...,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,Tr_tweet_3,neutral,0.6837,NaN,NaN,Virgin America,yvonnalynn,0.0,@VirginAmerica I didn't today... Must mean I n...,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,Tr_tweet_4,negative,1.0000,Bad Flight,0.7033,Virgin America,jnardino,0.0,@VirginAmerica it's really aggressive to blast...,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,Tr_tweet_5,negative,1.0000,Can't Tell,1.0000,Virgin America,jnardino,0.0,@VirginAmerica and it's a really big bad thing...,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [4]:
df2=pd.read_csv('test.csv')
df2.head()

,tweet_id,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,name,retweet_count,text,tweet_created,tweet_location,user_timezone
0,Test_tweet_1,0.6340,NaN,NaN,Virgin America,pilot,0,@VirginAmerica Really missed a prime opportuni...,2015-02-24 11:12:29 -0800,Los Angeles,Pacific Time (US & Canada)
1,Test_tweet_2,0.6769,NaN,0.0,Virgin America,idk_but_youtube,0,@VirginAmerica did you know that suicide is th...,2015-02-24 10:48:24 -0800,1/1 loner squad,Eastern Time (US & Canada)
2,Test_tweet_3,0.6451,NaN,NaN,Virgin America,mollanderson,0,@VirginAmerica @virginmedia I'm flying your #f...,2015-02-24 10:21:28 -0800,NaN,Eastern Time (US & Canada)
3,Test_tweet_4,1.0000,Bad Flight,1.0,Virgin America,heatherovieda,0,@VirginAmerica I flew from NYC to SFO last we...,2015-02-24 09:39:46 -0800,this place called NYC,Eastern Time (US & Canada)
4,Test_tweet_5,0.6578,NaN,0.0,Virgin America,KGervaise,0,@VirginAmerica I have an unused ticket but mov...,2015-02-23 16:20:38 -0800,Georgia,Pacific Time (US & Canada)

In [5]:
df.dtypes

tweet_id                         object
airline_sentiment                object
airline_sentiment_confidence    float64
negativereason                   object
negativereason_confidence       float64
airline                          object
name                             object
retweet_count                   float64
text                             object
tweet_created                    object
tweet_location                   object
user_timezone                    object
dtype: object

In [6]:
df.shape

(3339, 12)

In [7]:
df['airline'].value_counts()

United            2884
Virgin America     454
Name: airline, dtype: int64

In [8]:
df2.shape

(371, 11)

In [9]:
df.isnull().sum()

tweet_id                           0
airline_sentiment                  0
airline_sentiment_confidence       0
negativereason                  1205
negativereason_confidence        889
airline                            1
name                               1
retweet_count                      1
text                               1
tweet_created                     96
tweet_location                  1020
user_timezone                   1108
dtype: int64

In [10]:
df2.isnull().sum()

tweet_id                          0
airline_sentiment_confidence      0
negativereason                  117
negativereason_confidence        82
airline                           0
name                              0
retweet_count                     0
text                              0
tweet_created                    10
tweet_location                  111
user_timezone                   123
dtype: int64

In [11]:
df.drop(['name','tweet_location','user_timezone','tweet_created','negativereason'],axis=1,inplace=True)

df2.drop(['name','tweet_location','user_timezone','tweet_created','negativereason'],axis=1,inplace=True)

In [12]:
df.dropna(subset=['text'],inplace=True)

In [13]:
df['negativereason_confidence']=df['negativereason_confidence'].fillna(df['negativereason_confidence'].mean())
df2['negativereason_confidence']=df2['negativereason_confidence'].fillna(df2['negativereason_confidence'].mean())

In [14]:
df.isnull().sum()

tweet_id                        0
airline_sentiment               0
airline_sentiment_confidence    0
negativereason_confidence       0
airline                         0
retweet_count                   0
text                            0
dtype: int64

In [15]:
df2.isnull().sum()

tweet_id                        0
airline_sentiment_confidence    0
negativereason_confidence       0
airline                         0
retweet_count                   0
text                            0
dtype: int64

In [16]:
import re

In [17]:
if type(df['text']) is str:
        df['text'] = df['text'].lower()
        
        
if type(df2['text']) is str:
        df2['text'] = df2['text'].lower()

In [18]:
df['text'] = re.sub("[^a-zA-Z0-9\s]",  # Search for all non-letters
                          " ",          # Replace all non-letters with spaces
                          str(df2['text']))

df2['text'] = re.sub("[^a-zA-Z0-9\s]",  # Search for all non-letters
                          " ",          # Replace all non-letters with spaces
                          str(df2['text']))

In [19]:
df['airline_sentiment'].value_counts()

negative    2134
neutral      679
positive     525
Name: airline_sentiment, dtype: int64

In [20]:
from sklearn.utils import resample

df_majority = df[df.airline_sentiment=="negative"]
df_minority_1 = df[df.airline_sentiment=="neutral"]
df_minority_2 = df[df.airline_sentiment=="positive"]

In [21]:
df_minority_1_upsampled = resample(df_minority_1, 
                                 replace=True,     # sample with replacement
                                 n_samples=2134,    # to match majority class
                                 random_state=50) 


df_minority_2_upsampled = resample(df_minority_2, 
                                 replace=True,     # sample with replacement
                                 n_samples=2134,    # to match majority class
                                 random_state=50)

In [22]:
df = pd.concat([df_majority, df_minority_1_upsampled,df_minority_2_upsampled])

In [23]:
df['airline_sentiment'].value_counts()

neutral     2134
positive    2134
negative    2134
Name: airline_sentiment, dtype: int64

In [24]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason_confidence,airline,retweet_count,text
3,Tr_tweet_4,negative,1.0000,0.7033,Virgin America,0.0,0 VirginAmerica Really missed a prime op...
4,Tr_tweet_5,negative,1.0000,1.0000,Virgin America,0.0,0 VirginAmerica Really missed a prime op...
5,Tr_tweet_6,negative,1.0000,0.6842,Virgin America,0.0,0 VirginAmerica Really missed a prime op...
12,Tr_tweet_13,negative,0.6842,0.3684,Virgin America,0.0,0 VirginAmerica Really missed a prime op...
16,Tr_tweet_17,negative,0.6705,0.3614,Virgin America,0.0,0 VirginAmerica Really missed a prime op...

In [25]:
## No. of words in the text ##
df["num_words"] = df["text"].apply(lambda x: len(str(x).split()))
df2["num_words"] = df2["text"].apply(lambda x: len(str(x).split()))

In [26]:
## Number of unique words in the text ##
df["num_unique_words"] = df["text"].apply(lambda x: len(set(str(x).split())))
df2["num_unique_words"] = df2["text"].apply(lambda x: len(set(str(x).split())))

In [27]:
## Number of characters in the text ##
df["num_chars"] = df["text"].apply(lambda x: len(str(x)))
df2["num_chars"] = df2["text"].apply(lambda x: len(str(x)))

In [28]:
## Number of stopwords in the text ##
from nltk.corpus import stopwords

eng_stopwords = set(stopwords.words("english"))

df["num_stopwords"] = df["text"].apply(lambda x: len([w for w in str(x).lower().split() if w in eng_stopwords]))
df2["num_stopwords"] = df2["text"].apply(lambda x: len([w for w in str(x).lower().split() if w in eng_stopwords]))

In [29]:
## Number of punctuations in the text ##
import string

df["num_punctuations"] =df['text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]) )
df2["num_punctuations"] =df2['text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]) )

In [30]:
## Number of title case words in the text ##
df["num_words_upper"] = df["text"].apply(lambda x: len([w for w in str(x).split() if w.isupper()]))
df2["num_words_upper"] = df2["text"].apply(lambda x: len([w for w in str(x).split() if w.isupper()]))

In [31]:
## Number of title case words in the text ##
df["num_words_title"] = df["text"].apply(lambda x: len([w for w in str(x).split() if w.istitle()]))
df2["num_words_title"] = df2["text"].apply(lambda x: len([w for w in str(x).split() if w.istitle()]))

In [32]:
## Average length of the words in the text ##
df["mean_word_len"] = df["text"].apply(lambda x: np.mean([len(w) for w in str(x).split()]))
df2["mean_word_len"] = df2["text"].apply(lambda x: np.mean([len(w) for w in str(x).split()]))

In [33]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason_confidence,airline,retweet_count,text,num_words,num_unique_words,num_chars,num_stopwords,num_punctuations,num_words_upper,num_words_title,mean_word_len
3,Tr_tweet_4,negative,1.0000,0.7033,Virgin America,0.0,0 VirginAmerica Really missed a prime op...,512,311,3515,178,0,27,46,4.410156
4,Tr_tweet_5,negative,1.0000,1.0000,Virgin America,0.0,0 VirginAmerica Really missed a prime op...,512,311,3515,178,0,27,46,4.410156
5,Tr_tweet_6,negative,1.0000,0.6842,Virgin America,0.0,0 VirginAmerica Really missed a prime op...,512,311,3515,178,0,27,46,4.410156
12,Tr_tweet_13,negative,0.6842,0.3684,Virgin America,0.0,0 VirginAmerica Really missed a prime op...,512,311,3515,178,0,27,46,4.410156
16,Tr_tweet_17,negative,0.6705,0.3614,Virgin America,0.0,0 VirginAmerica Really missed a prime op...,512,311,3515,178,0,27,46,4.410156

In [34]:
for i in df.columns:
    print(i,' ',df[i].nunique())

tweet_id   3298
airline_sentiment   3
airline_sentiment_confidence   516
negativereason_confidence   730
airline   2
retweet_count   5
text   1
num_words   1
num_unique_words   1
num_chars   1
num_stopwords   1
num_punctuations   1
num_words_upper   1
num_words_title   1
mean_word_len   1

In [35]:
df.drop(['num_words','num_unique_words','num_chars','num_stopwords','num_punctuations','num_words_upper','num_words_title','mean_word_len'],axis=1,inplace=True)

df2.drop(['num_words','num_unique_words','num_chars','num_stopwords','num_punctuations','num_words_upper','num_words_title','mean_word_len'],axis=1,inplace=True)

In [36]:
y=df['airline_sentiment']

df.drop('airline_sentiment',axis=1,inplace=True)

In [37]:
'''
from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical

'''

'\nfrom sklearn.feature_extraction.text import CountVectorizer\nfrom keras.preprocessing.text import Tokenizer\nfrom keras.preprocessing.sequence import pad_sequences\nfrom keras.models import Sequential\nfrom keras.layers import Dense, Embedding, LSTM, SpatialDropout1D\nfrom sklearn.model_selection import train_test_split\nfrom keras.utils.np_utils import to_categorical\n\n'

In [38]:
'''
MAX_NB_WORDS = 20000
maxlen = 120  # cut texts after this number of words (among top max_features most common words)
batch_size = 32

'''

'\nMAX_NB_WORDS = 20000\nmaxlen = 120  # cut texts after this number of words (among top max_features most common words)\nbatch_size = 32\n\n'

In [39]:
'''
tokenizer = Tokenizer(nb_words=MAX_NB_WORDS, char_level=False)
tokenizer.fit_on_texts(texts_train)
sequences = tokenizer.texts_to_sequences(texts_train)
sequences_test = tokenizer.texts_to_sequences(texts_test)
'''

'\ntokenizer = Tokenizer(nb_words=MAX_NB_WORDS, char_level=False)\ntokenizer.fit_on_texts(texts_train)\nsequences = tokenizer.texts_to_sequences(texts_train)\nsequences_test = tokenizer.texts_to_sequences(texts_test)\n'

In [40]:
#word_index = tokenizer.word_index
#print('Found %s unique tokens.' % len(word_index))

In [41]:
'''
MAX_SEQUENCE_LENGTH = 200
#pad sequences are used to bring all sentences to same size.
# pad sequences with 0s
x_train = pad_sequences(sequences, maxlen=MAX_SEQUENCE_LENGTH)
x_test = pad_sequences(sequences_test, maxlen=MAX_SEQUENCE_LENGTH)
print('Shape of data tensor:', x_train.shape)
print('Shape of data test tensor:', x_test.shape)
'''

"\nMAX_SEQUENCE_LENGTH = 200\n#pad sequences are used to bring all sentences to same size.\n# pad sequences with 0s\nx_train = pad_sequences(sequences, maxlen=MAX_SEQUENCE_LENGTH)\nx_test = pad_sequences(sequences_test, maxlen=MAX_SEQUENCE_LENGTH)\nprint('Shape of data tensor:', x_train.shape)\nprint('Shape of data test tensor:', x_test.shape)\n"

In [42]:
#y_train = df['airline_sentiment'].map({"negative": 0, "neutral" : 1,"positive":2 })

In [43]:
#y_train=to_categorical(y_train)

In [44]:
'''
model = Sequential()
model.add(Embedding(MAX_NB_WORDS, 128))
model.add(LSTM(128, dropout=0.2, recurrent_dropout=0.2,input_shape=(1,)))
model.add(Dense(3, activation='softmax'))
'''

"\nmodel = Sequential()\nmodel.add(Embedding(MAX_NB_WORDS, 128))\nmodel.add(LSTM(128, dropout=0.2, recurrent_dropout=0.2,input_shape=(1,)))\nmodel.add(Dense(3, activation='softmax'))\n"

In [45]:
#model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])

In [46]:
#model.summary()

In [47]:
#model.fit(x_train, y_train, epochs = 7, batch_size=batch_size)

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [49]:
'''
tfidf_vec = TfidfVectorizer(stop_words='english', ngram_range=(1,3))
full_tfidf = tfidf_vec.fit_transform(df['text'].values.tolist() + df2['text'].values.tolist())
train_tfidf = tfidf_vec.transform(df['text'].values.tolist())
test_tfidf = tfidf_vec.transform(df2['text'].values.tolist())
'''

"\ntfidf_vec = TfidfVectorizer(stop_words='english', ngram_range=(1,3))\nfull_tfidf = tfidf_vec.fit_transform(df['text'].values.tolist() + df2['text'].values.tolist())\ntrain_tfidf = tfidf_vec.transform(df['text'].values.tolist())\ntest_tfidf = tfidf_vec.transform(df2['text'].values.tolist())\n"

In [50]:
#logreg=LogisticRegression()

In [51]:
#logreg.fit(train_tfidf,y)

In [52]:
#predictions1=logreg.predict(test_tfidf)

In [53]:
#df2['pred']=predictions1

In [54]:
texts_train=df['text'].astype(str)
texts_test=df2['text'].astype(str)

In [55]:
#all_text = pd.concat([texts_train, texts_test])

In [56]:
word_vectorizer = TfidfVectorizer(
    sublinear_tf=True,
    strip_accents='unicode',
    analyzer='word',
    token_pattern=r'\w{1,}',
    stop_words='english',
    ngram_range=(1, 1),
    max_features=5000)
full_tfidf_word=word_vectorizer.fit_transform(df['text'].values.tolist() + df2['text'].values.tolist())
train_tfidf_word = word_vectorizer.transform(df['text'].values.tolist())
test_tfidf_word = word_vectorizer.transform(df2['text'].values.tolist())

In [57]:
df=df.reset_index()
df2=df2.reset_index()

In [58]:
from sklearn.decomposition import TruncatedSVD

n_comp = 20
svd_obj = TruncatedSVD(n_components=n_comp, algorithm='arpack')
svd_obj.fit(full_tfidf_word)
train_svd_word = pd.DataFrame(svd_obj.transform(train_tfidf_word))
test_svd_word = pd.DataFrame(svd_obj.transform(test_tfidf_word))
    
train_svd_word.columns = ['svd_word_'+str(i) for i in range(n_comp)]
test_svd_word.columns = ['svd_word_'+str(i) for i in range(n_comp)]
df = pd.concat([df, train_svd_word], axis=1)
df2 = pd.concat([df2, test_svd_word], axis=1)
del full_tfidf_word, train_tfidf_word, test_tfidf_word, train_svd_word, test_svd_word

In [59]:
df.head(1)

,index,tweet_id,airline_sentiment_confidence,negativereason_confidence,airline,retweet_count,text,svd_word_0,svd_word_1,svd_word_2,...,svd_word_10,svd_word_11,svd_word_12,svd_word_13,svd_word_14,svd_word_15,svd_word_16,svd_word_17,svd_word_18,svd_word_19
0,3,Tr_tweet_4,1.0,0.7033,Virgin America,0.0,0 VirginAmerica Really missed a prime op...,1.562552e-15,-7.255481e-15,2.872268e-15,...,9.083446e-16,3.079459e-15,8.528768e-15,-5.747356e-16,-1.513481e-14,8.277667e-15,6.662206e-15,-1.639314e-16,7.414208e-15,1.0

In [60]:
df2.head(1)

,index,tweet_id,airline_sentiment_confidence,negativereason_confidence,airline,retweet_count,text,svd_word_0,svd_word_1,svd_word_2,...,svd_word_10,svd_word_11,svd_word_12,svd_word_13,svd_word_14,svd_word_15,svd_word_16,svd_word_17,svd_word_18,svd_word_19
0,0,Test_tweet_1,0.634,0.651909,Virgin America,0,0 VirginAmerica Really missed a prime op...,1.562552e-15,-7.255481e-15,2.872268e-15,...,9.083446e-16,3.079459e-15,8.528768e-15,-5.747356e-16,-1.513481e-14,8.277667e-15,6.662206e-15,-1.639314e-16,7.414208e-15,1.0

In [61]:
train=df.drop(['index','text','tweet_id'],axis=1)
test=df2.drop(['index','text','tweet_id'],axis=1)

In [62]:
airline_map = {'Virgin America':1, 'United':2}

train['airline'] = train['airline'].map(airline_map)
test['airline'] = test['airline'].map(airline_map)

In [63]:
'''
from sklearn.naive_bayes import GaussianNB

gb=GaussianNB()
gb.fit(train,y)

pred=gb.predict(test)
'''

'\nfrom sklearn.naive_bayes import GaussianNB\n\ngb=GaussianNB()\ngb.fit(train,y)\n\npred=gb.predict(test)\n'

In [64]:
'''
from sklearn.linear_model import LogisticRegression

lg=LogisticRegression()
lg.fit(train,y)
pred=lg.predict(test)
'''

'\nfrom sklearn.linear_model import LogisticRegression\n\nlg=LogisticRegression()\nlg.fit(train,y)\npred=lg.predict(test)\n'

In [65]:
'''
from sklearn import preprocessing

train=preprocessing.StandardScaler().fit_transform(train)
test=preprocessing.StandardScaler().fit_transform(test)
'''

'\nfrom sklearn import preprocessing\n\ntrain=preprocessing.StandardScaler().fit_transform(train)\ntest=preprocessing.StandardScaler().fit_transform(test)\n'

In [66]:
'''
from sklearn.ensemble import RandomForestClassifier

rf=RandomForestClassifier()
rf.fit(train,y)
pred=rf.predict(test)
'''

'\nfrom sklearn.ensemble import RandomForestClassifier\n\nrf=RandomForestClassifier()\nrf.fit(train,y)\npred=rf.predict(test)\n'

In [67]:
import lightgbm as lgb

lgb=lgb.LGBMClassifier()

lgb.fit(train,y)
pred=lgb.predict(test)

C:\Users\Debadri\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [68]:
#train_features = hstack([train_char_features, train_word_features])
#test_features = hstack([test_char_features, test_word_features])

In [69]:
#classifier = LogisticRegression(C=0.1, solver='sag')

In [70]:
#classifier.fit(train_features, df['airline_sentiment'])

In [71]:
#pred=classifier.predict(test_features)

In [72]:
'''
submissions=pd.DataFrame(columns=['tweet_id', 'airline_sentiment'])
submissions['tweet_id']=df2['tweet_id']
submissions['airline_sentiment']=pred
submissions.to_csv('tweet.csv', index=False)
'''

"\nsubmissions=pd.DataFrame(columns=['tweet_id', 'airline_sentiment'])\nsubmissions['tweet_id']=df2['tweet_id']\nsubmissions['airline_sentiment']=pred\nsubmissions.to_csv('tweet.csv', index=False)\n"

In [73]:
df2['pred']=pred

In [74]:
df2.pred.value_counts()

negative    336
neutral      30
positive      5
Name: pred, dtype: int64

In [81]:
df2.ix[df2['negativereason_confidence']<0.5]['pred'].value_counts()

negative    43
neutral     30
positive     5
Name: pred, dtype: int64

In [76]:
submissions=pd.DataFrame(columns=['tweet_id', 'airline_sentiment'])
submissions['tweet_id']=df2['tweet_id']
submissions['airline_sentiment']=pred
submissions.to_csv('tweet.csv', index=False)